<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.YourLifeForAiur.SCUnits">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/kerricon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/kerricon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity
            android:name=".xelnaga"
            android:exported="false" />
        <activity
            android:name=".korolevalotv"
            android:exported="false" />
        <activity
            android:name=".korolevahots"
            android:exported="false" />
        <activity
            android:name=".kerriganhots"
            android:exported="false" />
        <activity
            android:name=".korolevawol"
            android:exported="false" />
        <activity
            android:name=".korolevasc1"
            android:exported="false" />
        <activity
            android:name=".kerrigansc1"
            android:exported="false" />
        <activity
            android:name=".karax"
            android:exported="false" />
        <activity
            android:name=".balius"
            android:exported="false" />
        <activity
            android:name=".karass"
            android:exported="false" />
        <activity
            android:name=".duran"
            android:exported="false" />
        <activity
            android:name=".duke"
            android:exported="false" />
        <activity
            android:name=".gary"
            android:exported="false" />
        <activity
            android:name=".stetmann"
            android:exported="false" />
        <activity
            android:name=".hyperion"
            android:exported="false" />
        <activity
            android:name=".tassadar"
            android:exported="false" />
        <activity
            android:name=".urun"
            android:exported="false" />
        <activity
            android:name=".dehaka"
            android:exported="false" />
        <activity
            android:name=".selendis"
            android:exported="false" />
        <activity
            android:name=".mohandar"
            android:exported="false" />
        <activity
            android:name=".zagara"
            android:exported="false" />
        <activity
            android:name=".swann"
            android:exported="false" />
        <activity
            android:name=".alarak"
            android:exported="false" />
        <activity
            android:name=".fenix"
            android:exported="false" />
        <activity
            android:name=".vorazun"
            android:exported="false" />
        <activity
            android:name=".artanis"
            android:exported="false" />
        <activity
            android:name=".stukov"
            android:exported="false" />
        <activity
            android:name=".tosh"
            android:exported="false" />
        <activity
            android:name=".tychus"
            android:exported="false" />
        <activity
            android:name=".zeratul"
            android:exported="false" />
        <activity
            android:name=".raynor"
            android:exported="false" />
        <activity
            android:name=".nova"
            android:exported="false" />
        <activity
            android:name=".kerrigan"
            android:exported="false" />
        <activity
            android:name=".Units"
            android:exported="false" />
        <activity
            android:name=".Heroes"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>