<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.YourLifeForAiur.SCUnits">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/kerr1212"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/kerr1212_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity
            android:name=".tanksc2"
            android:exported="false" />
        <activity
            android:name=".tankbw"
            android:exported="false" />
        <activity
            android:name=".tank"
            android:exported="false" />
        <activity
            android:name=".firebatsc2"
            android:exported="false" />
        <activity
            android:name=".firebatbw"
            android:exported="false" />
        <activity
            android:name=".firebat"
            android:exported="false" />
        <activity
            android:name=".vesselsc2"
            android:exported="false" />
        <activity
            android:name=".vesselbw"
            android:exported="false" />
        <activity
            android:name=".vessel"
            android:exported="false" />
        <activity
            android:name=".marinesc2"
            android:exported="false" />
        <activity
            android:name=".marinebw"
            android:exported="false" />
        <activity
            android:name=".marine"
            android:exported="false" />
        <activity
            android:name=".wraithsc2"
            android:exported="false" />
        <activity
            android:name=".wraithbw"
            android:exported="false" />
        <activity
            android:name=".wraith"
            android:exported="false" />
        <activity
            android:name=".mediv"
            android:exported="false" />
        <activity
            android:name=".medicsc2"
            android:exported="false" />
        <activity
            android:name=".medicbw"
            android:exported="false" />
        <activity
            android:name=".medic"
            android:exported="false" />
        <activity
            android:name=".maroder"
            android:exported="false" />
        <activity
            android:name=".scvsc2"
            android:exported="false" />
        <activity
            android:name=".scvbw"
            android:exported="false" />
        <activity
            android:name=".scv"
            android:exported="false" />
        <activity
            android:name=".bcsc2"
            android:exported="false" />
        <activity
            android:name=".bcbw"
            android:exported="false" />
        <activity
            android:name=".bc"
            android:exported="false" />
        <activity
            android:name=".reaper"
            android:exported="false" />
        <activity
            android:name=".goliathsc2"
            android:exported="false" />
        <activity
            android:name=".goliathbw"
            android:exported="false" />
        <activity
            android:name=".goliath"
            android:exported="false" />
        <activity
            android:name=".hercules"
            android:exported="false" />
        <activity
            android:name=".hellion"
            android:exported="false" />
        <activity
            android:name=".mira"
            android:exported="false" />
        <activity
            android:name=".raven"
            android:exported="false" />
        <activity
            android:name=".viking"
            android:exported="false" />
        <activity
            android:name=".valkyrie"
            android:exported="false" />
        <activity
            android:name=".banshee"
            android:exported="false" />
        <activity
            android:name=".aspid"
            android:exported="false" />
        <activity
            android:name=".protoss"
            android:exported="false" />
        <activity
            android:name=".terran"
            android:exported="false" />
        <activity
            android:name=".zerg"
            android:exported="false" />
        <activity
            android:name=".duranzerg"
            android:exported="false" />
        <activity
            android:name=".duranter"
            android:exported="false" />
        <activity
            android:name=".dehakalotv"
            android:exported="false" />
        <activity
            android:name=".dehakahots"
            android:exported="false" />
        <activity
            android:name=".fenixlotv"
            android:exported="false" />
        <activity
            android:name=".fenixd"
            android:exported="false" />
        <activity
            android:name=".fenixz"
            android:exported="false" />
        <activity
            android:name=".artanislotv"
            android:exported="false" />
        <activity
            android:name=".artaniswol"
            android:exported="false" />
        <activity
            android:name=".artanisbw"
            android:exported="false" />
        <activity
            android:name=".tychuslotv"
            android:exported="false" />
        <activity
            android:name=".tychuswol"
            android:exported="false" />
        <activity
            android:name=".novalotv"
            android:exported="false" />
        <activity
            android:name=".novawol"
            android:exported="false" />
        <activity
            android:name=".zeratullotv"
            android:exported="false" />
        <activity
            android:name=".zeratulwol"
            android:exported="false" />
        <activity
            android:name=".zeratulbw"
            android:exported="false" />
        <activity
            android:name=".raynorwol"
            android:exported="false" />
        <activity
            android:name=".raynorbw"
            android:exported="false" />
        <activity
            android:name=".kerriganhots2"
            android:exported="false" />
        <activity
            android:name=".xelnaga"
            android:exported="false" />
        <activity
            android:name=".korolevalotv"
            android:exported="false" />
        <activity
            android:name=".korolevahots"
            android:exported="false" />
        <activity
            android:name=".kerriganhots"
            android:exported="false" />
        <activity
            android:name=".korolevawol"
            android:exported="false" />
        <activity
            android:name=".korolevasc1"
            android:exported="false" />
        <activity
            android:name=".kerrigansc1"
            android:exported="false" />
        <activity
            android:name=".karax"
            android:exported="false" />
        <activity
            android:name=".balius"
            android:exported="false" />
        <activity
            android:name=".karass"
            android:exported="false" />
        <activity
            android:name=".duran"
            android:exported="false" />
        <activity
            android:name=".duke"
            android:exported="false" />
        <activity
            android:name=".gary"
            android:exported="false" />
        <activity
            android:name=".stetmann"
            android:exported="false" />
        <activity
            android:name=".hyperion"
            android:exported="false" />
        <activity
            android:name=".tassadar"
            android:exported="false" />
        <activity
            android:name=".urun"
            android:exported="false" />
        <activity
            android:name=".dehaka"
            android:exported="false" />
        <activity
            android:name=".selendis"
            android:exported="false" />
        <activity
            android:name=".mohandar"
            android:exported="false" />
        <activity
            android:name=".zagara"
            android:exported="false" />
        <activity
            android:name=".swann"
            android:exported="false" />
        <activity
            android:name=".alarak"
            android:exported="false" />
        <activity
            android:name=".fenix"
            android:exported="false" />
        <activity
            android:name=".vorazun"
            android:exported="false" />
        <activity
            android:name=".artanis"
            android:exported="false" />
        <activity
            android:name=".stukov"
            android:exported="false" />
        <activity
            android:name=".tosh"
            android:exported="false" />
        <activity
            android:name=".tychus"
            android:exported="false" />
        <activity
            android:name=".zeratul"
            android:exported="false" />
        <activity
            android:name=".raynor"
            android:exported="false" />
        <activity
            android:name=".nova"
            android:exported="false" />
        <activity
            android:name=".kerrigan"
            android:exported="false" />
        <activity
            android:name=".Units"
            android:exported="false" />
        <activity
            android:name=".Heroes"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>